.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  padding-top: 64px; // Height of header
}

@media (max-width: 599px) {
  .main-content {
    padding-top: 56px; // Height of header on mobile
  }
}
